table tr td{
    border: solid green 2px;
}
table th{
    border: solid blue 2px;
}
body{
    width: 100%;
    height: 100%;
    color: rgb(95, 99, 99);
    background-color: rgb(190, 196, 189);
    padding: 0;
}
.Main_Block{
    height: 100%;
    margin: 0 25% 0 25%;
    background-color: rgb(172, 167, 142);
    padding: 1px;
    border-radius: 30px;
}
.Header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{

    background-color: white;
    border-radius: 30px;
    padding:6px;
    margin: 5px;
    display: flex;
    align-items: center ;
    flex-direction: column;
    font-size: 24px;
}
li{
    display: inline;
    margin: 10px;
    
}
a{
    text-decoration: none;
    color: rgb(95, 99, 99);
}
a:hover{
    color: rgb(163, 167, 167);
}
.Avatar{
    border-radius: 10px;
    box-shadow:1px 1px 20px 1px rgb(172, 167, 142);
}
.Avatar:hover{
    border-radius: 10px;
    box-shadow:1px 1px 20px 1px rgb(95, 99, 99);
}
h1{
    margin: 5px;
}